* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #141414;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #7E7E81;
}

header {
    background-color: #191919;
    width: 100%;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header img {
    margin-left: 80px;
    max-width: 150px;
}

.navbuttons {
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 150%;
    font-size: 18px;
}

.button1 {
    background-color: #141414;
    color: white;
    padding: 14px 24px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 40px;
    border: 1px #333333 solid;
}

.button2 {
    background-color: transparent;
    margin-right: 40px;
}

.contact-us {
    background-color: #FFD119;
    padding: 14px 24px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    margin-right: 162px; 
}

.F1p {
    font-family: sans-serif;
    font-size: 16px;
    color: #666666;
    letter-spacing: -3%;
    line-height: 120%;
    margin-bottom: 20px;
}

.f2p {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0;
}

.F3p {
    font-family: sans-serif;
    font-size: 16px;
    color: #666666;
    letter-spacing: -3%;
    line-height: 120%;
    margin-bottom: 30px;
}





.main {
    display: grid;
    grid-template-columns: 57% 43%; /* Two columns: 53% for left, 47% for right */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 0px;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    padding-top: 0px;
}

.left-column {
     /* Optional: padding to separate the columns */
    margin-left: 80px;
    
    
}

.right-column {
    border: 1px #262626 solid;
    border-bottom: none;
    height: 100%;
    /* margin-top: 0px; */
}

.container1 {
    color: #ffffff;
    letter-spacing: -3%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 40px
}

.cont4 {
    display: flex; 
    margin-bottom: 0px;
}

.container3, .container4, .container5 {
    position: relative; /* Set position to relative for the pseudo-element */
    border: 1px solid #262626;
    border-bottom: none;
    padding: 20px;
    box-sizing: border-box;
    
}

.container3{
    border-left: none;
}
.container5{
    border-right: none;
}

.container3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 99.7vw; 
    height: 1px;
    background-color: #262626; /* Same color as the border */
    transform: translateX(-50vw); /* Align the pseudo-element to the left of the viewport */
}


.container3 {
    color: white;
    width: 30%;
    font-size: 30px;
    border-top: none
}

.container4 {
    color: lightblue;
    width: 40%;
    padding-right: 20px;
    border-top: none;
}

.container5 {
    color: white;
    width: 30%; /* Same width as container3 */
    border-top: none;
}

.container2 {
    /* Content for the right column */
    color: lightblue;
    /* padding: 20px; */
    box-sizing: border-box;
}



.alycontainer3 {
    margin-top: 5px;
    font-size: 14px;
}



.bra {
    opacity: 50%;
}

.section2 {
    display: flex;
    margin-top: 0;
    margin-left: 5.6%;
}

.icon1, .icon2, .icon3 {
    width: 31.33%; /* Ensures equal width for all three icons */
    border-top: none; /* Remove top border since the hr will serve that purpose */
    padding: 2.649%;
}

.icon1 {
    border-right: none; /* Remove right border to align with .icon2 */
    border: 1px #262626 solid;
    border-left: none;
    border-bottom: none;
    border-top: none;
    padding-left: 20px;
}

.icon2 {
    border-left: none; /* Remove left border to align with .icon1 */
    border-right: none; /* Remove right border to align with .icon3 */
    border-bottom: none;
    border: 1px #262626 solid;
    padding-left: 3.31%;
}

.icon3 {
    border-left: none; /* Remove left border to align with .icon2 */
    border-bottom: none;
    border: 1px #262626 solid;
    padding-left: 3.31%;
    border-right: none;
}

.imgIc1, .imgIc2, .imgIc3 {
    margin-left: 0;
}

.s2p1 {
    color: white;
    font-size: 18px;
}

.s2p2 {
    color: #666666;
    font-size: 16px;
    margin-top: -2%;
}

hr {
    border: 1px #262626 solid;
    margin-top: 0;
    margin-bottom: 0;
}

.s2p3 {
    color: #666666;
    font-size: 16px;
    padding-top: 1.32%;
}

.section3 {
    background-color: #191919;
    padding: 80px;
    color: white;
    margin-bottom: 0px;
}

.s3p1 {
    width: fit-content;
    background-color: #333333;
    font-size: 16px;
    padding: 7px;
    border-radius: 5px;
}

.s3p2 {
    font-size: 44px;
}

/* Updated grid-container with flex layout */
.grid-container {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow wrapping of grid items */
    width: 100%;
}

.grid-item {
    color: white;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #333;
    box-sizing: border-box;
    display: inline;
    
}

.res{
    color: white;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #333;
    box-sizing: border-box;
    width: 37.5%;
    padding-left: 80px;
    padding: 60px;
    padding-top: 10%;
}

.res1{
    font-size: 50px;
}

.res2{
    font-size: 16px;
    color: #98989A;
}

.down, .down1{
    font-size: 14px;
    color: #98989A;
    background-color: #262626;
    padding: 18px 20px;
    border: 1px solid #333 ;
    border-radius: 6px;
}

.down{
    text-align: center;
    margin-bottom: 20px;
}


.Down{
    display: inline;
    
}

.box44 {
    background-color: #262626;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: fit-content;
    margin: 0px ;
    border-radius: 8px;
    border: 1px solid #333 ;
}

.box45 {
    display: inline-block;
}

.boximg {
    margin-left: 0px; 
    padding-left: 0px;
    padding-left: 20px;
}

/* Specific widths for each div */
.item1, .item3 {
    width: 37.5%; /* Set width for 'Future Technology Blog' and 'Research Insights Blogs' */
    padding-left: 80px;
    padding: 60px;
    padding-top: 10%;
}

.item2, .item4 {
    width: 62.5%; /* Set width for the remaining two divs */
}

/* Box styling within item2 */
.box1, .box2, .box3, .box4 {
    width: 40%;
    display: inline-block;
    background-color: #191919;
    margin: 8px;
    border-radius: 10px;
    padding: 30px;
}

.box1, .box3{
    margin-left: 60px;
    
}

.box1, .box2{
    margin-top: 60px;
}

.box3, .box4{
    margin-bottom: 60px;
}

/* .box2, .box4{
    margin-left: 60px;
} */

.second {
    color: #98989A;
}

.mon{
    /* justify-content: center; */
    margin: auto;
    text-align: center;
    border-bottom: 1px #262626 solid;
}

.mon1{
    display: inline-block;
    width: 200px;
    border: 1px #262626 solid;
    padding: 20px 24px;
    color: #98989A;
    border-radius: 10px;
    margin-right: 15px;
}

.mon2{
    background-color: #191919;
    color: white;
}


.dynamicImg{
    width: 622.45px; 
    height: 420.04px;
    /* margin-left: 0px; */
}


.people {
    display: flex;
    flex-direction: column;
}

.xox {
    border-bottom: 1px solid #262626;
    padding: 60px 80px;
    display: flex;
    align-items: center; /* Align items center vertically */
}


.circle {
    width: 50px; /* Adjust the size as needed */
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px; /* Space between the circle and content */
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the circle */
}

.text-container {
    display: flex;
    flex-direction: column; /* Stack the text elements vertically */
    width: 23.5%;
}

.nAme,
.nAme2 {
    margin: 0; /* Remove default margins */
}

.nAme{
    color: white;
    font-size: 18px;
}

.nAme2{
    color: #98989A;
}



.text12{
    margin-top: 80px;
    color: #98989A;
}

.text13{
    margin-top: 24px;
    margin-bottom: 24px;
    color: white;
    margin-bottom: 24px
}

.text14{
    color: #98989A;
}

.res{
    font-size: 50px !important;
    
}

.dive{
    font-size: 16px;

}





.topics-container {
    display: flex;
    align-items: center; 
    margin: 60px; 
    margin-bottom: 0px;
}


.topics-title {
    font-size: 24px;
    margin-right: 30px; 
    white-space: nowrap; 
}

.topics-text {
    font-size: 16px;
    color: #98989A;
    line-height: 1.6;
}

.topics-text p {
    margin: 0;
}

.TVI{
    margin: 24px 60px;
    /* margin-top: -30px; */
    
}






.sub-container {
display: flex;
align-items: flex-start;
gap: 16px;
/* width: 100%; */
margin-left: 60px;
}

.totalEs, .totalEb{
    background-color: #191919;
    border: 1px #262626 solid;
    border-radius: 5px;
    padding: 24px;
}

.totalEb {
    display: flex;
    justify-content: flex-start; /* Keep the content on the left initially */
    align-items: center; /* Vertically center the text and button */
    gap: 20px; /* Space between text and button */
    margin-right: 80px; /* Right margin to keep the layout balanced */
}

.downloadFormat {
    font-size: 16px;
    color: #ffffff;
}

.Button8 {
    display: inline-flex;
    align-items: center;
    padding: 14px 20px;
    gap: 4px;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
    margin-left: auto; /* Push the button to the far right */
}



