* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #141414;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #7E7E81;
}

img {
    transition: transform 0.4s ease, filter 0.4s ease, box-shadow 0.4s ease;
    transform-origin: center;
}

img:hover {
    transform: scale(1.1);
    filter: brightness(1.1) contrast(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #333333;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-color: #ffffff;
    
}

.boxes:hover, .mon1:hover{
    background-color: #474747; 
    border-color: #333333; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
}

header {
    background-color: #191919;
    width: 100%;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header img {
    margin-left: 80px;
    max-width: 150px;
}

.navbuttons {
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 150%;
    font-size: 18px;
}

.button1 {
    background-color: #141414;
    color: white;
    padding: 14px 24px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 40px;
    border: 1px #333333 solid;
}

.button2 {
    background-color: transparent;
    margin-right: 40px;
}

.contact-us {
    background-color: #FFD119;
    padding: 14px 24px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    margin-right: 162px;
}

.F1p {
    font-family: sans-serif;
    font-size: 16px;
    color: #666666;
    letter-spacing: -3%;
    line-height: 120%;
    margin-bottom: 20px;
}

.f2p {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0;
}

.F3p {
    font-family: sans-serif;
    font-size: 16px;
    color: #666666;
    letter-spacing: -3%;
    line-height: 120%;
    margin-bottom: 30px;
}





.main {
    display: grid;
    grid-template-columns: 57% 43%;
    width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
    padding-bottom: 0px;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    padding-top: 0px;

}



.right-column {
    border: 1px #262626 solid;
    border-bottom: none;
    height: 100%;
}

.container1 {
    color: #ffffff;
    letter-spacing: -3%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 40px;
    padding-left: 80px;
}

.cont4 {
    display: flex;
    margin-bottom: 0px;
    border: 1px #262626 solid;
    padding-left: 80px;
}

.container3,
.container4,
.container5 {
    position: relative;
    border: 1px solid #262626;
    border-bottom: none;
    border-top: none;
    padding: 20px;
    box-sizing: border-box;

}

.container3 {
    border-left: none;
    padding-left: 0px;
}

.container5 {
    border-right: none;
}



.container3 {
    color: white;
    width: 30%;
    font-size: 30px;

}

.container4 {
    color: white;
    font-size: 30px;
    width: 40%;
    padding-right: 20px;
}

.container5 {
    color: white;
    font-size: 30px;
    width: 30%;
}

.container2 {
    color: lightblue;
    box-sizing: border-box;
}
.photos4{
    margin-left: -205px;
}



.alycontainer3 {
    margin-top: 5px;
    font-size: 14px;
    color: #98989A;
}



.bra {
    opacity: 50%;
}

.section2 {
    display: flex;
    margin-top: 0;
    margin-left: 5.6%;
}

.icon1,
.icon2,
.icon3 {
    width: 31.33%;
    border-top: none;
    padding: 2.649%;
}

.icon1 {
    border-right: none;
    border: 1px #262626 solid;
    border-left: none;
    border-bottom: none;
    border-top: none;
    padding-left: 20px;
}

.icon2 {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border: 1px #262626 solid;
    padding-left: 3.31%;
}

.icon3 {
    border-left: none;
    border-bottom: none;
    border: 1px #262626 solid;
    padding-left: 3.31%;
    border-right: none;
}

.imgIc1,
.imgIc2,
.imgIc3 {
    margin-left: 0;
}

.s2p1 {
    color: white;
    font-size: 18px;
}

.s2p2 {
    color: #666666;
    font-size: 16px;
    margin-top: -2%;
}

hr {
    border: 1px #262626 solid;
    margin-top: 0;
    margin-bottom: 0;
}

.s2p3 {
    color: #666666;
    font-size: 16px;
    padding-top: 1.32%;
}

.section3 {
    background-color: #191919;
    padding: 80px;
    color: white;
    margin-bottom: 0px;
}
.s3p1 {
    width: fit-content;
    background-color: #333333;
    font-size: 16px;
    padding: 7px;
    border-radius: 5px;
}
.s3p2 {
    font-size: 44px;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.grid-item {
    color: white;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #333;
    box-sizing: border-box;
    

}

.res {
    color: white;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #333;
    box-sizing: border-box;
    width: 37.5%;
    padding-left: 80px;
    padding: 60px;
    padding-top: 10%;
}

.res1 {
    font-size: 50px;
}

.res2 {
    font-size: 16px;
    color: #98989A;
}

.down,
.down1 {
    font-size: 14px;
    color: #98989A;
    background-color: #262626;
    padding: 18px 20px;
    border: 1px solid #333;
    border-radius: 6px;
}

.down {
    text-align: center;
}


.Down {
    display: inline;

}

.box44 {
    background-color: #262626;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 0px;
    border-radius: 8px;
    border: 1px solid #333;
}

.box45 {
    display: inline-block;
}

.boximg {
    margin-left: 0px;
    padding-left: 0px;
    padding-left: 20px;
}

.item1,
.item3 {
    width: 37.5%;
    padding-left: 80px;
    padding: 60px;
    padding-top: 10%;
}

.item2,
.item4 {
    width: 62.5%;
}

.box1,
.box2,
.box3,
.box4 {
    width: 40%;
    display: inline-block;
    background-color: #191919;
    margin: 8px;
    border-radius: 10px;
    padding: 30px;
}

.box1,
.box3 {
    margin-left: 60px;

}

.box1,
.box2 {
    margin-top: 60px;
}

.box3,
.box4 {
    margin-bottom: 60px;
}

.second {
    color: #98989A;
}

.mon {
    margin: auto;
    text-align: center;
    border-bottom: 1px #262626 solid;
}

.mon1 {
    display: inline-block;
    width: 200px;
    border: 1px #262626 solid;
    padding: 20px 24px;
    color: #98989A;
    border-radius: 10px;
    margin-right: 15px;
}

.mon2 {
    background-color: #191919;
    color: white;
}


.dynamicImg {
    width: 41.22%;
    height: 420.04px;
    margin-left: 0px;
}


.people {
    display: flex;
    flex-direction: column;
}

.xox {
    border-bottom: 1px solid #262626;
    padding: 60px 80px;
    display: flex;
    align-items: center;
}


.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 23.5%;
}

.nAme,
.nAme2 {
    margin: 0;
}

.nAme {
    color: white;
    font-size: 18px;
}

.nAme2 {
    color: #98989A;
}



.text12 {
    margin-top: 80px;
    color: #98989A;
}

.text13 {
    margin-top: 24px;
    margin-bottom: 24px;
    color: white;
    margin-bottom: 24px
}

.text14 {
    color: #98989A;
}

.res {
    font-size: 50px !important;

}

.dive {
    font-size: 16px;

}





.topics-container {
    display: flex;
    align-items: center;
    margin: 60px;
    margin-bottom: 0px;
}


.topics-title {
    font-size: 24px;
    margin-right: 30px;
    white-space: nowrap;
}

.topics-text {
    font-size: 16px;
    color: #98989A;
    line-height: 1.6;
}

.topics-text p {
    margin: 0;
}

.TVI {
    margin: 24px 60px;
}






.sub-container {
    display: flex;
    gap: 16px;
    padding: 0;
    margin-left: 60px;
}

.totalEs,
.totalEb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #191919;
    border: 1px #262626 solid;
    border-radius: 5px;
    padding: 0 24px;
    height: 101px;

}

.average {
    background-color: #191919;
    border: 1px #262626 solid;
    border-radius: 5px;
    width: fit-content;
    padding: 24px;
    margin-top: 20px;
    margin-left: 60px;

}
.Ebooks1{
    font-size: 16px;
    color: #98989a;
}
.Ebooks2{
    color: white;
    font-size: 18px;
}


.downloadFormat {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.textContent {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.downloadTitle,
.downloadSubtitle {
    margin: 0;
}

.Button8 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    gap: 4px;
    background: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
    margin-top: 10%;
    color: #98989A;
}


.tpeople-container {
    border-top: 1px #262626 solid;
    border-bottom: 1px #262626 solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 60px 80px
}

.people-card {
    border: 1px solid #333;
    padding: 40px;
    text-align: center;
    position: relative;
    background-color: #191919;
    color: white;
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.people-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: rgb(36, 36, 36);
}

.people-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 15px;
}

.people-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #333;
    object-fit: cover;
}

.name-location {
    text-align: left;
}

.people-name {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.people-location {
    margin: 5px 0 0 0;
    font-size: 0.9rem;
    color: #aaa;
}


.people-content {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 40px 20px 20px;
    color: white;
    font-size: 14px;
    line-height: 1.6;
    position: relative;
    text-align: center;
}

.people-stars {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #191919;
    display: inline-flex;
    gap: 5px;
    border-radius: 20px;
    border: 1px solid #333;
    padding: 3px 10px;
    z-index: 1;
}

.people-stars span {
    color: gold;
    font-size: 1.2rem;
    padding: 0 2px;
}





.divkber {
    background-color: #1A1A1A;
    padding: 60px 80px;
    width: 100%;
}

.divkber div {
    padding-right: 0;
    margin-right: 0;
}

.divkber {
    margin-right: 0px;
    margin-top: 0px;
    display: inline-block;
    padding-right: 0;
}

.conts8nn {
    width: fit-content;
    background-color: #333333;
    padding: 5px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 0;
}

.lolo {
    margin-right: 10px;
    width: fit-content;
    height: fit-content;
}

.FootLogo {
    display: flex;
}

.dibo {
    font-size: 44px;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.la22 {
    font-size: 16px;
    color: #7E7E81;
    margin-top: 5px;
}

.constt{
    font-size: 16px;
    color: #7E7E81;
}

.div2-2foot {
    font-size: 18px;
    color: white;
    padding-bottom: 10px;
}

.div2-3foot {
    font-size: 16px;
    color: #98989A;
}

.div2foot {
    background-color: #141414;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    margin: 0px 80px;
}
.div2-1foot {
    display: inline;
    background-color: #1A1A1A;
    border: 1px #262626 solid;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}
.mohamedalaa {
    width: 747px;
}
@media (max-width: 768px) {
    * {
        padding-left: 0;
        margin-left: 0;
    }

    .div2foot {
        flex-direction: column;
        margin: 0px 12px;
    }

    .div2-1foot,
    .div2-2foot,
    .div2-3foot {
        max-width: 100%;
    }


    grid-item {
        flex-direction: column;
    }
    .constt {
        
        width: fit-content;
        margin-left: 0px;
        padding-left: 0px;
    }

    .section2 {
        margin-left: 0px;
    }

    .divkber {
        padding-left: 12px;
        display: flex;
    }
    .divlber div{
        padding-right: 50px;
        
    }
    .conts8nn {
        display: flex;
    }
    .main {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .left-column,
    .right-column {
        width: 100%;
        margin-left: 0;
    }
    .container1 {
        margin: 50px 0;
        padding-left: 10px;
    }
    .photos4{
        margin-left: -110px;
    }
    .cont4 {
        width: 100%;
        padding-left: 10px;
    }
    .section2,
    .grid-container,
    .sub-container,
    .topics-container {
        flex-direction: column;
    }
    .icon1,.icon2,.icon3,.item1,.item2,.item3,.item4,.res,.grid-item,.totalEs,.totalEb {
        width: 100%;
        padding: 10px;
        border: 1px #262626 solid;
        text-align: center;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0;
    }
    .totalEs{
        margin-left: -100;
    }
    .mohamedalaa {
        width: 100%;
    }
    .icon3 {
        margin-bottom: 0;
    }
    .tpeople-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .people-card {
        padding: 20px;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-column {
        margin-bottom: 20px;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: center;
        color: #98989a;
    }
    .social-icons {
        margin-bottom: 20px;
    }
    .box1, .box2, .box3, .box4{
        margin: auto;
        width: fit-content;
        margin-top: 25px;
    }
    .box4{
        margin-bottom: 25px;
    }
    .item2{
        display: flex;
        flex-direction: column;
    }
    .badBox{
        margin-bottom: 15px;
        margin-left: 0px;
    }
    .badBox1{
        margin-left: -100px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr;
    }


    .left-column,
    .right-column {
        width: 100%;
        margin-left: 0;
    }

    .container1 {
        margin: 70px 0;
    }

    .cont4 {
        flex-direction: column;
    }

    .container3,
    .container4,
    .container5 {
        width: 100%;
        padding: 15px;
    }
    .tpeople-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .people-card {
        padding: 30px;
    }
}





.footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 40px 20px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-column {
    flex: 1;
    margin-right: 20px;
    
}
.footer-column:last-child {
    margin-right: 0;
}
.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    color: #666666;
}
.footerlinks{
    all: unset; 
    cursor: pointer; 
}
.footerlinks:hover{
    all: unset;
    cursor: pointer; 
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.footer-column ul li {
    margin-bottom: 8px;
}
.new-label {
    padding: 2px 4px;
    font-size: 12px;
    margin-left: 5px;
    color: white;
    border: 1px solid;
    border-image: linear-gradient(45deg, #00ff17, #f06595) 1;
    border-radius: 15px;
}
.resource-links .resource-item {
    display: flex;
    align-items: center;
    background-color: #141414;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #262626;
    color: #666666;
    width: fit-content;
    border-radius: 10px;
}
.resource-links .resource-item .arrow {
    margin-left: 10px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #444;
}
.social-icons i {
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
}
.footer-terms a {
    color: #98989a;
    text-decoration: none;
    margin-right: 15px;
}
.footer-terms a:hover {
    text-decoration: underline;
}
.footer-copyright {
    font-size: 14px;
    color: #98989a;
}
.resource-links .resource-item .arrow {
    font-size: 16px;
    color: #d4af37;
    margin-left: 10px;
}