.latest-episodes-section {
    background-color: #111;
    color: #fff;
    padding: 50px 0;
    margin-top: 50px;
}

.latest-episodes-heading {
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
    padding-left: 50px;
}

.latest-episodes-description {
    font-size: 1.1rem;
    color: #ccc;
    max-width: 700px;
    margin: 0 auto;
    padding-left: 60px;
}

/* Card Styles */
.latest-episode-card {
    background-color: #1b1b1e !important;
    border: none;
    color: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.latest-episode-card .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.latest-episode-img {
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-container {
    position: relative;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    opacity: 0.8;
    pointer-events: none;
}

.image-container:hover .play-icon {
    opacity: 0.5;
}

.latest-episode-title {
    font-size: 1.4rem;
    color: #ffd700;
}

.latest-episode-description {
    font-size: 1rem;
    color: #e0e0e0;
    margin-bottom: 10px;
    flex-grow: 1;
}

.episode-duration {
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 15px;
}
